@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Constant variables
$baseColor: #73a578; // 247 Green
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

/* ========= MIXINS ========= */

@mixin transition {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

body {
	display: flex;
  font-family: 'Open Sans', sans-serif;
  background-color: lighten($baseColor, 30%);
   * { box-sizing: border-box; }
}

// Filter View

.filterBar {
  flex: 1;
  z-index: 100;
	display: flex;
	justify-content: space-between;
	margin: 0 16px;
	padding: 16px;
	background: white;
  border-radius: 4px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0px 2px 24px -4px rgba(0,0,0,0.33);

  span {
		color: #757575;
		font-size: 14px;
		margin-bottom: 8px;
  }
}

.filterSet {
  display: flex;
  flex-direction: column;
}

.filter {
	color: #424242;
	margin-right: 4px;
	padding: 6px 12px;
	border-radius: 4px;
	background: white;
	border: 1px solid #BDBDBD;
	font-size: 16px;
	font-weight: 300;
	
	&:hover {
		color: white;
		background: #0288D1;
		border: 1px solid #0288D1;
		cursor: pointer;
	}
	
	&:active,
	&:focus {
		color: white;
		background: #0277BD;
		border: 1px solid #0277BD;
		outline: none;
	}
	
	&.isActive {
		color: white;
		background: #0277BD;
		border: 1px solid #0277BD;
  }
  
  option {
    background: white;
    color: #424242;
  }
}

.status {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  
  .button-filter {
    border-radius: 4px;
    background-color: darken($baseColor, 5%);
    border: none;
    transition: all 0.5s;
    padding: 6px 24px;
    margin-left: 2em;
  
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      font-size: 19px;
      color: white;
      margin-bottom: 0;

      &:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    }

    &:hover span {
      padding-right: 25px;

      &:after {
        opacity: 1;
        right: 0;
      }
    } 
  }
}

// Date Picker

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
label {
  display: inline-block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  padding: 6px 12px;
  font-size: 16px;
}

// Table View styles

.table-header {
   background-color: darken($baseColor, 5%);
   color: white;
   font-size: 1.5em;
   padding: 1rem 2rem;
}

img {
   border-radius: 50%;
   height: $imageSmall;
   width: $imageSmall;
}

.table-users {
   border: 1px solid darken($baseColor, 5%);
   border-radius: $borderRadius;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 100%;
   background-color: #f9ffff;

  .button-filter {
      border-radius: 4px;
      background-color: lighten($baseColor, 5%);
      border: none;
      transition: all 0.5s;
      padding: 6px 24px;
      margin: .5em;
      color: white;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0px solid darken($baseColor, 5%);
        -webkit-transition-property: border-width;
        transition-property: border-width;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }

      &:hover:before {
        border-width: 3px;
        border-radius: 4px;
      }
  }

  .active {
    background-color: grey;
    text-decoration: line-through;
  }

  .bottom-button-div {
    flex: 1;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    margin: 0 16px;
    padding: 16px;
    background: white;
    color: #757575;
    font-size: 16px;
    margin-bottom: 8px;

    .bottom-button-container {
      margin-top: 0.5em;

      .selected-super, .selected-single {
        color: white;
        background: #0288D1;
        border: 1px solid #0288D1;
      }
    }

    .bottom-buttons {
      color: #424242;
      margin-right: 4px;
      padding: 10px 18px;
      border-radius: 4px;
      background: white;
      border: 1px solid #bdbdbd;
      font-size: 16px;
      font-weight: 300;

      &:hover {
        color: white;
        background: #0288D1;
        border: 1px solid #0288D1;
        cursor: pointer;
      }
    }
  }
}

table {
   width: 100%;
   
   td, th { 
      color: #000000;
      padding: $padding; 
   }

   td:first-child, th:first-child { 
      width: 18%;
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      
      &:last-child {
         line-height: 1;
      }
   }
   
   th { 
      background-color: white;
      font-weight: 600;
   }

   .total-table-row {
      background-color: lighten($baseColor, 40%);
      cursor: pointer;
   }

   .hide-tr {
     display: none;
   }
   
  //  tr {     
  //     &:nth-child(2n) { background-color: white; }
  //     &:nth-child(2n+1) { background-color: lighten($baseColor, 40%) }
  //  }
}

@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {
      &:first-child {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: $imageBig;
      }

      &:not(:first-child) {
         clear: both;
         margin-left: $imageBig;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            color: lighten($baseColor, 30%);
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

      &:nth-child(2):before { content: 'Pubdate:'; }
      &:nth-child(3):before { content: '247 Pageviews:'; }
      &:nth-child(4):before { content: 'Phone:'; }
      &:nth-child(5):before { content: 'Comments:'; }
   }
   
   tr {
      padding: $padding 0;
      position: relative;
      &:first-child { display: none; }
   }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten($baseColor, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   img {
      border: 3px solid;
      border-color: lighten($baseColor, 50%);
      height: $imageBig;
      margin: 0.5rem 0;
      width: $imageBig;
   }
   
   td {
      &:first-child { 
         background-color: lighten($baseColor, 45%); 
         border-bottom: 1px solid lighten($baseColor, 30%);
         border-radius: $borderRadius $borderRadius 0 0;
         position: relative;   
         top: 0;
         transform: translateY(0);
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-users { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
}

// Finish and Save Button

#save-button-div {
  width: 100%;
  max-width: calc(100% - 2em);
  justify-content: center;
  padding: 16px;
  background: white;
  color: #757575;
  margin: 1em auto;
  flex: 1;
  z-index: 100;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 2px 24px -4px rgba(0, 0, 0, 0.33);

  .save-button-container {
    margin-top: 0.5em;
    text-align: center;
  }

  .save-buttons {
    margin-right: 4px;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background: #0288D1;
    border: none;
    transition: all 0.5s;
    margin-left: 2em;

    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      font-size: 19px;
      color: white;
      margin-bottom: 0;

      &:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
    }

    &:hover span {
      padding-right: 25px;

      &:after {
        opacity: 1;
        right: 0;
      }
    } 
  }
}

// Loading Box Hop

.boxLoading {  
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
  &:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #1A6844;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}


@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}